@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 0 10px;
}
.header{
    background-color: blue;
    text-align: center;
    color:#fff;
}
.content{
    display: flex;
    height: 85vh;
    width: 100%;
}
.con-text{
    background-color: #16003B;
    padding:20px;
    flex: 1;
    color: #fff;
    font-size: 20px;
}
.con-video{
    background-color: #205375;
    padding: 50px;
    flex: 1;
}
.con-img{
    background-color: #f0950c;
    padding: 50px;
    flex: 1;
}
.footer{
    background-color: aqua;
    text-align: center;
    height: 50px;
    padding: 20px 0px;
}